# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build
/dist/
/build/

# Env
.env
.env.*

# Docker
*.local.yml
*.pid

# Misc
*.swp
*.swo

# Ignore local Docker volumes
volumes/

# ignore digital ocean config
.deployed/
